body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.background {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    z-index: -1;
    filter: blur(5px); /* az blurlu olması */
    animation: slide 30s linear infinite; /* yavaş bir şekilde loop olarak hareket etmesi */
}
@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(-25%); }
    100% { transform: translateX(0); }
}
.login-container {
    opacity: 75%;
    border: 2px solid white;
    color: black;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.login-container form input[type="submit"]:hover {
    background-color: #0056b3;
}
.login-container form p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}